.profile-container {
  background-color: #0000002e;
  height: 250;
  width: 220px;
  margin-left: 14px;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

 .profile-img{
  height: 100px;
  width: 100px;
  margin-top: 1rem;
  background-image: url("../../public/lcc-pf-pic.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 35px;

 }

 .profile-username {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: whitesmoke;
 }

 .profile-leagues, .profile-players{
  color: whitesmoke;
  margin: .25rem;
 }
 
}